{% extends "Home/padre.html" %}

{% load static %}

{% block contenidoQueCambia %}
<h2 class="mb-6">Un poco sobre mi y este proyecto...</h2>
<h3 class="mb-6">--------------------------------</h3>

<h4> Soy Luz d’André, licenciada en Comercialización, madre de dos niñas, oriunda de Ts. As., y residiendo actualmente en la ciudad de Azul. Pcia de Bs. As.</h3>
<h4>Esta aplicación es mi primer paso por el mundo de la programación.
    La idea fue desarrollar una aplicación enfocada al área de RRHH de una empresa.
</h4>
<h2> </h2>
<h4>Actualmente trabajo en una Pyme acopiadora de Cereales, en donde este sector no está armado y necesita un orden.</h4>
<h4>Me pareció buena idea tener plasmado todo lo relacionado al área en una sola aplicación.  </h4>
 <h4>Actualmente, podrán ver en esta aplicación (previo registro de usuario) los empleados de la empresa, registrar nuevos empleados, cargos y gerencias, y registrar las solicitudes de vacaciones. </h4>   
<h4>A futuro se pretende desarrollar otros puntos como las ofertas laborales, postulaciones, organigrama. etc. </h4>

<h3>Les invito a recorrer la aplicación en su primera fase.
    ¡Saludos! 
    </h3>

    



   


{% endblock %}